* {
    box-sizing: border-box;
}

body {
    background-image: url("../Styling/holiday-background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    font-weight: 500;
}

.form-container {
    width: 500px;
    max-width: 90%;
    background-color: rgb(228, 228, 228, 0.7);
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3) 
}

.form {
    display: flex;
    flex-direction: column;  
    max-width: 300px;
    width: 100%;
}

input {
    margin-bottom: 2em;
    border: 2px solid #cccccc;
    border-radius: 5px;
    text-align: inherit;
    padding: 1em;
}

button {
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 2em;
    cursor: pointer;
    background-color: #de397a;
    color: #ffffff;
    margin-top: 2em;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #c42162;
}


.form--marketing > input {
    margin-bottom: 0;
    margin-right: 10px;
}